// 这里写Vue的transition效果样式

.fade-left {
  &-enter-active {
    transition: .2s .2s cubic-bezier(0.4, 0.0, 0.2, 1);
    will-change: trnsform;
  }
  &-leave-active {
    transition-delay: 0s;
  }
  &-enter {
    opacity: 0;
    transform: translateX(40%);
  }
  &-leave-active {
    opacity: 0;
  }
}
