@font-face {
  font-family: 'hyjk';
  src: url(/static/fonts/HYJK.ttf);
}

@font-face {
  font-family: 'hyss';
  src: url(/static/fonts/HYSS.ttf);
}

body {
  @include scroll-bar;

  &.night {
    --font-color: var(--dark);
    --bg:var(--yellow);
  }

  &.dusk {
    --font-color: var(--dark);
    --bg: var(--yellow);
  }

  background: var(--bg);
  color: var(--font-color)
}
